NODE_ENV=your_environment_here
PORT=your_port_here
DATABASE_URL="your_database_url_here"

#Bcrypt
BCRYPT_SALT_ROUND=your_bcrypt_salt_round_here

#CLOUDINARY
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here

#JWT TOKEN
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_ACCESS_EXPIRES=your_jwt_access_expires_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES=your_jwt_refresh_expires_here